/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #121212; /* Dark background */
  color: white; /* Light text for contrast */
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 36px; /* Increased font size */
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 24px; /* Increased font size for heading */
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-family: cursive;
}

input[type="file"] {
  padding: 12px;
  margin: 10px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: all 0.3s ease;
}

input[type="file"]:hover {
  background-color: #444; /* Darker background on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* More prominent shadow */
}

button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* More prominent shadow */
}

h3, h4 {
  color: #ffffff; /* White color for headers */
  margin-bottom: 10px;
}

p {
  color: #ddd; /* Lighter color for text */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #444; /* Dark borders */
}

th, td {
  padding: 12px;
  text-align: left;
  color: #ccc; /* Light grey text for table */
}

th {
  background-color: #333;
}

tr:nth-child(even) {
  background-color: #1e1e1e; /* Darker row color for even rows */
}

tr:hover {
  background-color: #333; /* Hover effect for rows */
}
